docker.enabled = true

manifest {
    nextflowVersion = '!>=24.0.0'  // Requires Nextflow >=24
}

profiles {
    test {
        includeConfig 'tests/integration/test.config'
    }
    aws {
        process {
            executor = 'awsbatch'
            queue = 'pavi_pipeline'
        }
        params {
            image_registry = '100225593120.dkr.ecr.us-east-1.amazonaws.com/'
            image_tag = 'main'
            nextflow_output_dir = "s3://agr-pavi-pipeline-nextflow/main"
            publish_dir_prefix = "${params.nextflow_output_dir}/results/"
        }
        aws {
            region = 'us-east-1'
            batch {
                logsGroup = 'pavi/pipeline-batch-jobs'
            }
        }
        workDir = "${params.nextflow_output_dir}/work"
    }
    local {
        process {
            executor = 'local'
        }
    }
}
