docker.enabled = true

profiles {
    test {
        includeConfig 'tests/integration/test.config'
    }
    aws {
        process {
            executor = 'awsbatch'
            queue = 'pavi_pipeline'
        }
        params {
            image_registry = '100225593120.dkr.ecr.us-east-1.amazonaws.com/'
            image_tag = 'main'
            publish_dir_prefix = 's3://agr-pavi-pipeline-nextflow/main/results/'
        }
        aws {
            region = 'us-east-1'
        }
        workDir = 's3://agr-pavi-pipeline-nextflow/main/work'
    }
}
