docker.enabled = true

profiles {
    test {
        includeConfig 'tests/integration/test.config'
    }
    aws {
        process {
            executor = 'awsbatch'
            queue = 'pavi_pipeline'
        }
        params {
            image_registry = '100225593120.dkr.ecr.us-east-1.amazonaws.com/'
            image_tag = 'main'
            nextflow_output_dir = "s3://agr-pavi-pipeline-nextflow/${image_tag}"
            publish_dir_prefix = "${nextflow_output_dir}/results/"
        }
        aws {
            region = 'us-east-1'
        }
        workDir = "${params.nextflow_output_dir}/work"
    }
    local {
        process {
            executor = 'local'
        }
    }
}
