[run]
source = src
omit =
    *__init__*
    # Exclude CLI runnables (covered through integration rather than unit testing)
    src/seq_retrieval.py
    src/seq_info_align.py
    # Exclude logging code (no need to be tested)
    src/log_mgmt/*
    # Exclude comparison analysis code
    src/analysis/*

[report]
exclude_lines =
    # Exclude defensive assertion code
    raise AssertionError
    raise NotImplementedError

    # Exclude main method calling (not testable through unit testing)
    if __name__ == .__main__.:

    # Exclude all functions labeled with "pragma: no cover"
    pragma: no cover
fail_under = 90
