Resources:
  AWSEBV2LoadBalancerListener:
    Type: 'AWS::ElasticLoadBalancingV2::Listener'
    Properties:
      LoadBalancerArn:
        Ref: AWSEBV2LoadBalancer
      Port: 80
      Protocol: HTTP
option_settings:
  # As noted in the AWS docs, the following option cannot be set through the .ebextensions configuration files,
  # and thus is defined directly in the CDK definitions (see parent directory).
  #
  # aws:elasticbeanstalk:environment:
  #   LoadBalancerType: application
  #
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environments-cfg-alb.html#environments-cfg-alb-namespaces

  aws:elbv2:listener:80:
    Protocol: HTTP
    DefaultProcess: api
  aws:elasticbeanstalk:environment:process:api:
    Port: '8080'
    Protocol: HTTP
    HealthCheckPath: /api/health
    MatcherHTTPCode: 200
  aws:elbv2:loadbalancer:
    IdleTimeout: 600
